<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:resizeableActivity="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".WelcomeActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />

        <activity 
            android:name=".SettingsActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />

        <activity
            android:name=".CustomizationActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />

        <activity 
            android:name=".HistoryActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />

        <activity
            android:name=".SourceActivity"
            android:label=""
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:resizeableActivity="true" />
             
        <provider
            android:name=".PicProvider"
            android:authorities="ru.unknows.vasiliev.picprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>
</manifest>
